{:paths ["src"]
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "f2709454569ca0bc7f666f475fb09293fbb1eb31"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.4" :git/sha "c21cfde"}}
          :ns-default build}
  :cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :dart
             :main hti.re-dash}}
